body{
    background-color: black;
    color: black;
    cursor: url(http://www.webcis.com.br/images/lupa-clientes.cur), default;
    font-family: 'Special Elite', cursive;
}

body ::selection {
    background-color: black;
    color: mediumslateblue;
}

.container {
    background-color: black ;
    border: 5px solid mediumslateblue;
    padding: 15px;
    display: grid;
    gap: 10px;
    grid-template-areas: 
      'header header header header header'
      'menu menu menu menu menu'
      'content content content content content'
      'footer footer footer footer footer'
}

#header {
    grid-area: header;
}


#menu {
    grid-area: menu;
}

#content {
     grid-area: content;
     height: auto;
     grid-template-rows: auto;
}

 #footer { 
    grid-area: footer;
 }

 .fa-brands{
    color: black;
 }

.container div {
    background-color: mediumslateblue; 
    padding: 5px; 
    border: 1px solid black;
}

h1 {
    font-size: 35px;
    text-align: center;
}

li {
    display: inline;
    padding-left: 280px;
}

a {
    color: black;
}

img {
   
    width: 110px;
    height: 190px;
    margin-right: 15px;
    float: left;
}

#Eu{
    border: 5px solid black;
}

#Formação{
    border: 5px solid black;
}

#Habilidades{
    border: 5px solid black;
}

#Interesses{
    border: 5px solid black;
}
