body{
    background-color: black;
    font-family: cursive;
    color: black;
    cursor: url(http://www.webcis.com.br/images/lupa-clientes.cur), default;
}

body ::selection {
    background-color: black;
    color: mediumslateblue;
}

.container {
    background-color: black ;
    border: 5px solid mediumslateblue;
    padding: 15px;
    display: grid;
    gap: 10px;
    grid-template-areas: 
      'header header header header header'
      'menu menu menu menu menu'
      'content content content content content'
      'footer footer footer footer footer'
      
}

#header {
    grid-area: header;
}


#menu {
    grid-area: menu;
}

#content {
     grid-area: content;
     height: 100vh;
 }

 #footer { 
    grid-area: footer;
 }

 .fa-brands{
    color: black;
 }

.container div {
    background-color: mediumslateblue; 
    padding: 15px; 
    border: 1px solid black;
}

h1 {
    font-size: 35px;
    text-align: center;
}

li {
    display: inline;
}

#contatos {
    text-align: center;
}